.grille{
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
}

.main{
	border: solid black 2px;
	width: 310px;
	height: 310px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}

.block{
	text-align: center;
	line-height: 100px;
	border: solid black 1px ;
	font-size: large;
	font-weight: bold;
	color: red;
}

.images{

	max-width: 100%;
	max-height: 100%;
	}
.texte{
	position: relative;
	bottom: 120px;
}
